html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
    background-color: #dbe9f4;
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url('https://res.cloudinary.com/dzqj0bike/image/upload/v1652197940/btu-guides/pexels-fauxels-3183186_la1p7f.jpg');
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: #dbe9f4;
    line-height: 30px;
    font-weight: lighter;
    color: grey;
    left: 0;
    margin: 0;

}
.wrapper {
    width: 100%;
    height: 100%;
    float: left;
}

.left {
    top: 80px;
    position: relative;
    float: left;
    width: 50%;
    text-align: justify;
    font-weight: bold;
    font-size: 35px;
    padding-left: 40px;
}

.image {
    top: 85px;
    left: 8%;
    position: relative;
    float: left;
    height: 700px;
    width: 35%;
}

.responsive-iframe {
    width: 100%;
    height: 100%;
}

.grid {
    background-color: #e0943c;
    color: white;
    padding: 1rem;
    height: 12rem;
    border-radius: 15px;
    width: 55%;
    margin: 3% auto;
    font-weight: bold;
  }
  
  .cards {
    width:110vw;
      background-color: #c8e3fd;
    display: grid;
    grid-gap: 2rem;
    position: absolute;
    top: 1400px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease;
    text-align: justify; 
  }

  .history {

    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

    .goals {
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 950px;
        transform: translate(-50%,-50%);
    }

.partners {
    position: absolute;
    top: 1750px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.links {
    position: absolute;
    top: 2150px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    text-align: center;
}

.links>a {
    margin-bottom: 15px;
    display: block;
    font-size: 30px;
    color: gray;
}


@Media (min-width: 800px) {
    .cards { grid-template-columns: repeat(2, 1fr);
  }
  } 
  
    @media (max-width: 1250px) {
      .cards {
        font-size: 12.5px;
      }
      .left {
          font-size: 20px;
          padding: 0;
      }
    }
  
    @media (max-width: 990px) {
      .cards {
        font-size: 10px;
      }
    }
  
   @media (max-width:800px) {

       .goals {
           top: 1600px;
       }
    .left {
        font-size: 25px;
        top: 780px;
        width: 100vw;
    }
    .image {
        width: 100vw;
        margin-top: -350px;
        left: 0;
        height: 350px;
    }

    .cards {
        top: 2300px;
       font-size: 13px;
    }
    .grid {
        width: 70%;
        margin-left: 50%;
        margin-top: 120px;
        transform: translate(-50%,-50%);
    }

    .partners {
        top: 3150px;
    }

    .links {
        top: 3400px;
    }
  
   }
