html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}
#aboutTitle {
    color: #fff!important;
}
body {
    background-color: #dbe9f4!important;
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

.displayNone {
    display: none !important;
}
header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url('https://res.cloudinary.com/dzqj0bike/image/upload/v1652197940/btu-guides/pexels-fauxels-3183186_la1p7f.jpg');
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    margin-top: 80vh;
    font-weight: lighter;
    color: #131644;
    text-align: justify;
}
#historyTitle {
    text-align: center;
}
.left {
    text-align: justify;
    font-weight: bold;
    font-size: 25px;
}

.video {
    height: 500px;
}

.responsive-iframe {
    width: 100%;
    height: 100%;
}

.grid {
    /*background-color: #e0943c;*/
    color: #131644;
    border-radius: 15px;
    width: 100%;
    font-size: 28px;
    font-weight: 900;
    float: left;
    padding: 2%;
  }
  
  .cards {
      background-color: #c8e3fd;
    text-align: justify; 
  }

  .history {

    font-weight: bold;
    position: absolute;
    left: 28%;
    transform: translate(-50%,-50%);
}

    .goals {
    text-align: center;
    }

.partners {
    text-align: center;
}
.fa-check {
    color: #035403;
    vertical-align: middle;
}

.fa-border {
    border-color: #131644!important;
}

.float {
    float: left;
    margin-right: 40px;
}

.links {
    text-align: center;
}

.links>a {
    margin-bottom: 15px;
    display: block;
    font-size: 30px;
    color: gray;
}

    @media (max-width: 1250px) {
      .left {
          font-size: 20px;
          padding: 0;
      }
    }

