
body {
    background-color: #e0943c;
}

div {
    height: 300px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    text-align: center;
}

div>a {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #fff;
    display: block;
}

div > input {
    position: relative;
    top: 10%;
    left: 31%;
    display: block;
    margin-bottom: 15px;
    width: 40%;
    height: 40px;
}
div>select {
    margin-top: 10%;
}
.div-main {
    height: 300px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    text-align: center;
}

.div-main2 {
    height: 300px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    text-align: center;
}

div>select {
    position: relative;
    top: 26%;
    left: 1%;
    width: 40%;
    height: 40px;
}

button {
    margin-top: 13%;
}

h1 {
    margin-left: 42%;
}