
nav{
  background: #84e1f3;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 4;
  }
.nav-btn {
  color: #131644;
  font-weight: 700;
}
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
label.logo img {
  width: 90px;
  height: 90%;
  margin-top: -28px;
}
nav ul li {
   display:inline-block;
 }
  nav ul{
    text-align: center;
    float: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-bottom: 20px;
  }
  nav ul li a{
    color: white;
    transition: all 0.2s ease-in;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }
nav ul li a.active,nav ul li a:hover{
  background-color: #75bcff;
  transition: .5s;
  border-radius: 10px;

}
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed!important;
      width: 100% !important;
      height: 100vh!important;
      background: #2c3e50;
      top: 80px!important;
      left: -100% !important;
      text-align: center!important;
      transition: all .5s!important;
      transform: translate(0,0)!important;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    nav ul li a.active,nav ul li a:hover{
      background: none;
      color: #000;
    }
    #check:checked ~ ul{
      left: 0!important;
    }

    #languageButtonChange {
      margin-left: 50%;
      margin-top: -90px!important;
      transform: translateX(-50%);
    }
  }