<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>За нас</title>
    <link rel="stylesheet" href="/css/about-us-style.css"/>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/infinite-slider.css">
    <!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>-->
    <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/LangBool.js"></script>
</head>
<body>
<nav th:replace="fragments/nav::nav">

</nav>
<header>
    <h1 id="aboutTitle">ЗА НАС</h1>
</header>
<div class="container">
    <h1 id="historyTitle" class="history">История</h1>
    <div class="wrapper">
        <div class="left">
                    <span id="historyText">
През 2021 г. бе учредена и регистрирана като юридическо
лице първата специализирана кооперация в сферата на
туризма – Кооперация „БТС – Екскурзоводи”.
Кооперацията е създадена като доброволно сдружение
на физически лица, които чрез съвместни действия,
взаимопомощ и сътрудничество, извършват стопанска и
търговска дейност по смисъла на действащите в Република
България Търговски закон и Закон за кооперациите.
Като търговско дружество със стопанска цел,
кооперацията осъществява съвместна дейност с Български
туристически съюз, туристически сдружения, както и с
неправителствени организации, изпълняващи дейности с
идеална нестопанска цел и представени от сдруженията на
екскурзоводите в България (Асоциация на екскурзоводите в
България, Съюз на екскурзоводите в България и други).</span>
        </div>
        <div class="image">
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/i823oecWW5k"></iframe>
        </div>
    </div>

    <h1 id="goals" class="goals">Цели</h1>

    <div class="cards">
        <div class="grid">
            <div class="float"><i class="fa-solid fa-check fa-2x fa-border"></i></div>
            <div> <span id="check1">Осигуряване на качествени екскурзоводски услуги за
                    удовлетворяване изискванията на клиентите в максимална
                    степен при съблюдаване на икономическите интереси на
                    екскурзоводите и водачите на туристически групи и
                    рационално използване на наличните материални, трудови и
                    финансови ресурси. </span></div>
        </div>
        <div class="grid">
            <div class="float"><i class="fa-solid fa-check fa-2x fa-border"></i></div>
            <div><span id="check2"> Повишаване на професионалната квалификация,
            образованието и практическата подготовка, необходими за
            гарантиране на общоприетите стандарти и съвременни
            изисквания за упражняване на професията на екскурзовода и
            водача на туристически групи.</span>
            </div>
        </div>
        <div class="grid">
            <div class="float"><i class="fa-solid fa-check fa-2x fa-border"></i></div>
            <div><span id="check3"> Осигуряване и поддържане на актуална информация за
            туристическите забележителности чрез съвременни,
                включително дигитални средства.</span></div>
        </div>
        <div class="grid">
            <div class="float"><i class="fa-solid fa-check fa-2x fa-border"></i></div>
            <div><span id="check4">Участие в разработване и утвърждаване на стандарти за
                    работа на екскурзоводите и водачите на туристически групи
                по направления.</span></div></div>
        <div class="grid">
            <div class="float"><i class="fa-solid fa-check fa-2x fa-border"></i></div>
            <div><span id="check5">Предоставяне на качествени туристически услуги – екскурзии, почивки и обучения
                в България и чужбина, групови и индивидуални.</span></div></div>
        <div class="grid">
            <div class="float"><i class="fa-solid fa-check fa-2x fa-border"></i></div>
            <div><span id="check6">Предоставяне на качествени туристически услуги за осъществяване на
                конферентен туризъм в България и чужбина.</span></div></div>
    </div>
</div>

<h1 id="partners" class="partners">Партньори</h1>

<div class="slider-container">
    <section class="customer-logos slider">
        <div th:each="p : ${otherPartners}" class="slide"><a th:href="@{${p.url}}"><img th:src="@{${p.companyUrl}}"></a>
        </div>
    </section>
</div>

<div class="links">
    <a class="bglinks" th:each="p : ${partners}" th:text="${p.name}" th:href="@{${p.url}}">Софийски туристически район</a>
    <a class="enlinks" th:each="p : ${partners}" th:text="${p.nameEN}" th:href="@{${p.url}}">Софийски туристически район</a>
    <br>
    <br>
    <a id="link" href="https://drive.google.com/file/d/17AhAlfoRx9Nj9bk7n4hI17hNJwctlQqF/view?usp=sharing">Политика за защита на
        личните данни</a>
</div>


</div>
</body>

<script>
    var language = {
        en: {
            title: "About us",
            history: "History",
            historyText: "Cooperation “BTU – Guides”, the first ever cooperation in the field of tourism, was established in 2021. It was created as a voluntary association of individuals, carrying out economic and commercial activity through joint actions, mutual assistance and cooperation in the sense of the commercial law and the law on cooperatives in force in the Republic of Bulgaria. As a commercial company with an economic purpose, our cooperation carries out joint activities with the Bulgarian Tourist Union, tourist associations, as well as with non-governmental organizations performing activities with an ideal non-profit purpose and represented by the associations of tour guides in Bulgaria (Association of Tour Guides in Bulgaria, Union of Tour Guides in Bulgaria and others).",
            goals: "Our mission is",
            check1:"Delivering high quality travel services, satisfying the requirements of\n" +
                "our customers to the highest possible degree,\n" +
                "all the while зидшеъшсдхж the economic interests of the tour guides\n" +
                "leaders of tourist groups, and\n" +
                "ensuring the rational use of available material, labor and financial\n" +
                "resources.",
            check2: "Improving the professional qualification, education and practical\n" +
                "training necessary to ensure the generally\n" +
                "accepted standards and modern requirements for exercising the\n" +
                "profession of tour guide and guide of tourist groups.",
            check3: "Participation in the development and approval of standards for the work\n" +
                "of tour guides and guides\n" +
                "of tourist groups by direction.",
            check4: "Providing and keeping up-to-date information about tourist attractions\n" +
                "through modern, including digital means.",
            check5: "Providing quality tourist services – excursions, holidays and trainings in\n" +
                "Bulgaria and abroad,\n" +
                "both group and individual.",
            check6: "Provision of quality tourist services for conference tourism in Bulgaria\n" +
                "and abroad.",
            partners: "Partners",
            linkName: "Personal Data Protection Policy",
            linkHref: "https://docs.google.com/document/d/16KxKdNnXJmellvHjxqO5lNWJkvEmhXHM/edit?usp=sharing&ouid=112307813277185158353&rtpof=true&sd=true",
            aboutUsNav: "about us",
            cooperativeNav: "cooperative",
            serviceNav: "service",
            contactUs: "Contact us"
        },
        bg: {
            title: "За нас",
            history: "История",
            historyText: "През 2021 г. бе учредена и регистрирана като юридическо\n" +
                "лице първата специализирана кооперация в сферата на\n" +
                "туризма – Кооперация „БТС – Екскурзоводи”.\n" +
                "Кооперацията е създадена като доброволно сдружение\n" +
                "на физически лица, които чрез съвместни действия,\n" +
                "взаимопомощ и сътрудничество, извършват стопанска и\n" +
                "търговска дейност по смисъла на действащите в Република\n" +
                "България Търговски закон и Закон за кооперациите.\n" +
                "Като търговско дружество със стопанска цел,\n" +
                "кооперацията осъществява съвместна дейност с Български\n" +
                "туристически съюз, туристически сдружения, както и с\n" +
                "неправителствени организации, изпълняващи дейности с\n" +
                "идеална нестопанска цел и представени от сдруженията на\n" +
                "екскурзоводите в България (Асоциация на екскурзоводите в\n" +
                "България, Съюз на екскурзоводите в България и други).",
            goals: "Нашата мисия е",
            check1:"Осигуряване на качествени екскурзоводски услуги за\n" +
                "                    удовлетворяване изискванията на клиентите в максимална\n" +
                "                    степен при съблюдаване на икономическите интереси на\n" +
                "                    екскурзоводите и водачите на туристически групи и\n" +
                "                    рационално използване на наличните материални, трудови и\n" +
                "                    финансови ресурси.",
            check2: "Повишаване на професионалната квалификация,\n" +
                "            образованието и практическата подготовка, необходими за\n" +
                "            гарантиране на общоприетите стандарти и съвременни\n" +
                "            изисквания за упражняване на професията на екскурзовода и\n" +
                "            водача на туристически групи.",
            check3: "Осигуряване и поддържане на актуална информация за\n" +
                "            туристическите забележителности чрез съвременни,\n" +
                "                включително дигитални средства.",
            check4: "Участие в разработване и утвърждаване на стандарти за\n" +
                "                    работа на екскурзоводите и водачите на туристически групи\n" +
                "                по направления.",
            check5: "Предоставяне на качествени туристически услуги – екскурзии, почивки и обучения\n" +
                "                в България и чужбина, групови и индивидуални.",
            check6: "Предоставяне на качествени туристически услуги за осъществяване на\n" +
                "                конферентен туризъм в България и чужбина.",
            partners: "Партньори",
            linkName: "Политика за защита на личните данни",
            linkHref: "https://drive.google.com/file/d/17AhAlfoRx9Nj9bk7n4hI17hNJwctlQqF/view?usp=sharing",
            aboutUsNav: "за нас",
            cooperativeNav: "ЧЛЕНОВЕ",
            serviceNav: "услуги",
            contactUs: "контакти"
        }
    }

    function changeLanguage(change = true) {
        if(change) {
            setCookie();
        }

        if(getCookie('language') === 'true') {
            aboutTitle.textContent = language.bg.title;
            historyTitle.textContent = language.bg.history;
            historyText.textContent = language.bg.historyText;
            goals.textContent = language.bg.goals;
            check1.textContent = language.bg.check1;
            check2.textContent = language.bg.check2;
            check3.textContent = language.bg.check3;
            check4.textContent = language.bg.check4;
            check5.textContent = language.bg.check5;
            check6.textContent = language.bg.check6;
            partners.textContent = language.bg.partners;
            link.textContent = language.bg.linkName;
            link.href = language.bg.linkHref;
            aboutUsNav.textContent=language.bg.aboutUsNav;
            cooperativeNav.textContent=language.bg.cooperativeNav;
            serviceNav.textContent=language.bg.serviceNav;
            contactNav.textContent=language.bg.contactUs;
            let linksBG = [...document.getElementsByClassName('bglinks')];
            let linksEN = [...document.getElementsByClassName('enlinks')];
            linksBG.forEach(element => {
                element.classList.remove('displayNone');
            });
            linksEN.forEach(element => {
                element.classList.add('displayNone');
            });
        }else {
            aboutTitle.textContent = language.en.title;
            historyTitle.textContent = language.en.history;
            historyText.textContent = language.en.historyText;
            goals.textContent = language.en.goals;
            check1.textContent = language.en.check1;
            check2.textContent = language.en.check2;
            check3.textContent = language.en.check3;
            check4.textContent = language.en.check4;
            check5.textContent = language.en.check5;
            check6.textContent = language.en.check6;
            partners.textContent = language.en.partners;
            link.textContent = language.en.linkName;
            link.href = language.en.linkHref;
            aboutUsNav.textContent=language.en.aboutUsNav;
            cooperativeNav.textContent=language.en.cooperativeNav;
            serviceNav.textContent=language.en.serviceNav;
            contactNav.textContent=language.en.contactUs;
            let linksBG = [...document.getElementsByClassName('bglinks')];
            let linksEN = [...document.getElementsByClassName('enlinks')];
            linksEN.forEach(element => {
                element.classList.remove('displayNone');
            });
            linksBG.forEach(element => {
                element.classList.add('displayNone');
            });
        }
    }
    changeLanguage(false);

</script>
</html>
