<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <title>Document</title>
</head>
<body>
<form th:action="@{/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/trips}" th:method="POST" th:object="${tripBindingModel}">
    <div>
        <input th:field="*{title}" type="text" placeholder="Заглавие">
        <input th:field="*{url}" type="text" placeholder="линк за снимка на картата">
        <input th:field="*{description}" type="text" placeholder="кратко пояснение">
        <select th:field="*{worker}" name="" id="">
            <option value="">Options</option>
            <option th:each="w : ${workers}" th:value="w">Options</option>
        </select>
    </div>
</form>
</body>
</html>