<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin-style.css">
</head>
<body>
    <h1>Вкарване на курсове</h1>
       <form th:action="@{/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/courses}" th:method="POST" th:object="${coursesBindingModel}">
        <button type="submit">Потвърди</button>
        <div>
            <input th:field="*{name}" type="text" placeholder="Име на курса">
            <input th:field="*{description}" type="text" placeholder="Кратко пояснение">
            <input th:field="*{url}" type="text" placeholder="Линк за снимка">
            <select th:field="*{worker}" name="" id="">
                <option value="">Choose</option>
                <option th:each="w : ${workers}" th:value="${w}" th:text="${w}">2</option>
            </select>
        </div>

       </form>
</body>
</html>