<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <title>Document</title>
</head>
<body>
<h1>Вкарване на курсове</h1>

<form th:action="@{/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/partners}" th:method="POST" th:object="${partnersBindingModel}">
    <button type="submit">Потвърди</button>
    <div>
        <input th:field="*{name}" type="text" placeholder="Име">
        <input th:field="*{url}" type="text" placeholder="линк">
        <select th:field="*{type}" name="" id="">
            <option value="partner">Партньор</option>
            <option value="bigPartner">Голям партньор</option>
        </select>
        <input th:field="*{companyUrl}" type="text" placeholder="Линк за снимка">
    </div>

</form>
</body>
</html>