<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <title>Document</title>
</head>
<body>
<form th:action="@{/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/trips}" th:method="POST"
      th:object="${tripBindingModel}">
    <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002">Връщане</a>
    <div>
        <input th:field="*{title}" type="text" placeholder="Заглавие">
        <input th:field="*{titleEn}" type="text" placeholder="Заглавие (Английски)">
        <input th:field="*{imageUrl}" type="text" placeholder="линк за снимка на картата">
        <input th:field="*{description}" type="text" placeholder="кратко пояснение">
        <input th:field="*{descriptionEn}" type="text" placeholder="кратко пояснение (Ангийски)">
        <input th:field="*{pdfUrl}" type="text" placeholder="Линк за pdf">
        <input th:field="*{pdfUrlEn}" type="text" placeholder="Линк за pdf (Английски)">
        <select th:field="*{type}" name="" id="a">
            <option value="Bulgaria">България</option>
            <option value="Intr">Чужбина</option>
            <option value="Tour">Екскурзоводска услуга</option>
        </select>
        <select th:field="*{worker}" name="" id="">
            <option value="">Избери член-кооператор</option>
            <option th:each="w : ${workers}" th:value="${w.id}" th:text="|${w.firstName} ${w.lastName}|">Options</option>
        </select>
        <br><br>
        <button type="submit">Потвърди</button>

    </div>
</form>
</body>
</html>