<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <title>Document</title>
</head>
<body>
        <div>
            <input type="text" placeholder="Заглавие">
            <input type="text" placeholder="линк за снимка на картата">
            <input type="text" placeholder="кратко пояснение">
            <select name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>
</body>
</html>