<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-style.css">
    <title>Admin page</title>
</head>
<body>
    <div class="div-main">
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/partners">Партньори</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/trips">Екскурзоводски услуги</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/translate/offers">Преводачески услуги</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/courses">Курсове</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/translators">Преводачи</a>
    </div>

    <div class="div-main2">
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/table/partners">Партньори-таблица</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/table/trip">Екскурзоводски услуги-таблица</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/table/translate">Преводачески услуги-таблица</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/table/courses">Курсове-таблица</a>
        <a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/table/translators">Преводачи-таблица</a>
    </div>
</body>
</html>