<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Консултации</title>
        <link rel="stylesheet" href="/css/consult-style.css"/>
        <link rel="stylesheet" href="/css/nav.css">
        <script src="https://kit.fontawesome.com/4aa5357101.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav th:replace="fragments/nav::nav">

    </nav>
        <header>
            <h1>Консултации</h1>
        </header>
        <div class="container">
            <div class="cards">
                <div class="card">
                    <div class="float"><i class="fa-solid fa-check fa-4x fa-border"></i></div>
                    <span> При създаване на кооперации, свързани с туристическата
                        индустрия.</span></div>
                <div class="card">
                    <div class="float"><i class="fa-solid fa-check fa-4x fa-border"></i></div>
                    <span> При кандидатстване по програми и проекти за
                        финансиране, свързани с туристическата индустрия.</span></div>
                <div class="card">
                    <div class="float"><i class="fa-solid fa-check fa-4x fa-border"></i></div>
                   <span> При необходимост от осъществяване на маркетингова
                    дейност и проучвания на територията на Република България.</span></div>
                <div class="card">
                    <div class="float"><i class="fa-solid fa-check fa-4x fa-border"></i></div>
                    <span> При създаване, реализация и популяризиране на
                    туристически продукти на местно и национално ниво от
                        туристически информационни центрове (ТИЦ).</span></div>
              </div>
            </div>

    </body>
</html>
