<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="/css/courses-style.css"/>
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>
        <nav th:replace="fragments/nav::nav">

          </nav>
        <header>
            <h1 th:text="${title}">Курсове и обучения</h1>
        </header>
            <div class="container">
                      <div id="container">
                          <div id="slider-container">
                            <span onclick="slideRight()" class="btn"></span>
                              <div id="slider">
                                  <div class="slide" th:each="c : ${courses}"><div class="card">
                                      <figure >
                                          <img th:src="${c.url}" alt="Hotel" >
                                      </figure>

                                      <div class="card-body">
                                          <h5 class="card-title" th:text="${c.name}">title</h5>
                                          <p class="card-text" th:text="${c.description}"> simply dummy text  </p>
                                          <a th:href="@{${c.workerUrl}}" th:text="${c.worker}">Имe фамилия</a>
                                      </div>
                                  </div></div>
                            </div>
                            <span onclick="slideLeft()" class="btn"></span>
                          </div>
                        </div>

                        <script src="/js/courses-slider.js"></script>
        </div>
    </body>
    <div id="footer">This is a footer.
        This stays at the bottom of the page.
    </div>
</html>
