<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="/css/courses-style.css"/>
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </head>
    <body>
        <nav class="navbar">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo">LOGO</label>
            <ul>
              <li><a  href="#home">Home</a></li>
              <li><a  href="#about">Цели</a></li>
              <li><a  href="#service">Услуги</a></li>
              <li><a  href="#contact">Контакти</a></li>
            </ul>
          </nav>
        <header>
            <h1>Курсове и обучения</h1>
        </header>
            <div class="container">
                      <div id="container">
                          <div id="slider-container">
                            <span onclick="slideRight()" class="btn"></span>
                              <div id="slider">
                                <div class="slide"><div class="card">
                              <figure >
                                <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                              </figure>
                              <div class="card-body">
                                <h5 class="card-title">Hotel 1</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="">Има фамилия</a>
                              </div>
                        </div></div>
                         <div class="slide"><div class="card" >
                              <figure >
                                <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                              </figure>
                              <div class="card-body">
                                <h5 class="card-title">Hotel 1</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="">Има фамилия</a>
                              </div>
                        </div></div>
                                <div class="slide"><div class="card" >
                              <figure>
                                  <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                              </figure>
                        
                              <div class="card-body">
                                <h5 class="card-title">Hotel 1</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="">Има фамилия</a>
                              </div>
                        </div></div>
                                <div class="slide"><div class="card" >
                              <figure >
                                  <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                              </figure>
                        
                              <div class="card-body">
                                <h5 class="card-title">Hotel 1</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="">Има фамилия</a>
                              </div>
                        </div></div>
                                <div class="slide"><div class="card">
                              <figure >
                                  <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                              </figure>
                        
                              <div class="card-body">
                                <h5 class="card-title">Hotel 1</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="">Има фамилия</a>
                              </div>
                        </div></div>
                                <div class="slide"><div class="card" >
                              <figure >
                                  <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                              </figure>
                        
                              <div class="card-body">
                                <h5 class="card-title">Hotel 1</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="">Има фамилия</a>
                              </div>
                        </div></div>
                                <div class="slide"><div class="card">
                              <figure >
                                  <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                              </figure>
                        
                              <div class="card-body">
                                <h5 class="card-title">Hotel 1</h5>
                                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                <a href="">Има фамилия</a>
                              </div>
                        </div></div>
                            </div>
                            <span onclick="slideLeft()" class="btn"></span>
                          </div>
                        </div>

                        <div class="cards">
                            <div class="grid">Организиране, провеждане и удостоверяване на курсове
                              за професионално обучение на екскурзоводи и тур – лидери,
                              съгласно изискванията на закона за туризма и образованието.</div>
                            <div class="grid">Организиране, провеждане и удостоверяване на
                              практически занимания на завършилите обучение, включително в системата на средното
                              и висше образование, екскурзоводи и тур-лидери, съгласно
                              изискванията на закона за туризма и образованието.</div>
                            <div class="grid">Организиране, провеждане и удостоверяване на
                              специализирани езикови курсове за квалификация и/или
                              преквалификация в сферата на туризма.</div>
                            <div class="grid">Организиране и провеждане на образователни курсове,
                              включително общо и специализирано, присъствено и онлайн
                              езиково обучение на деца, ученици и възрастни.</div>
                          </div>
                        <script src="/js/courses-slider.js"></script>
        </div>
    </body>
</html>
