<!DOCTYPE html>
<html class="mainBody" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/index-style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="/css/nav3.css">
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="/js/recaptcha.js"></script>
        <script src="/js/translate.js"></script>
        <script src="/js/LangBool.js"></script>
    </head>
<body>
    <div class="container">
        <nav th:replace="fragments/nav::nav">

        </nav>
        <section id="home">
          <h1 id="nameBtu2">ТУРИСТИЧЕСКА АГЕНЦИЯ „КООПТУР”</h1>
          <h1 id="nameBtu">КООПЕРАЦИЯ БТС-ЕКСКУРЗОВОДИ</h1>
          <a id="homeBtn" href="/about">ПОВЕЧЕ ЗА НАС</a>
        </section>
        <section id="about">
            <h1 id="ourPeople">НАШИТЕ ЧЛЕН-КООПЕРАТОРИ</h1>
            <a id="ourPeopleBtn" href="/translators">Член-кооператори</a>
          </section>
        <section id="service">
            <h1 id="services">Услуги</h1>
            <div class="container2">
              <div class="card">
                <figure class="card__thumb">
                  <img src="https://res.cloudinary.com/dzqj0bike/image/upload/v1652188239/btu-guides/pexels-edgar-okioga-2646521_5_mtcojc.jpg" alt="Picture by Kyle Cottrell" class="card__image">
                  <figcaption class="card__caption">
                    <h2 id="offersCard" class="card__title">ТУРИСТИЧЕСКИ УСЛУГИ</h2>
                      <br><br><br>
                    <a id="offersCardBtn" href="/offers" class="card__button">Прочетете още</a>
                  </figcaption>
                </figure>
              </div>
            
              <div class="card">
                <figure class="card__thumb">
                  <img src="https://res.cloudinary.com/dzqj0bike/image/upload/v1652188503/btu-guides/pexels-pixabay-356065_uxhwbr.jpg" alt="Picture by Nathan Dumlao" class="card__image">
                  <figcaption class="card__caption">
                    <h2 id="courses" class="card__title">КУРСОВЕ, ОБУЧЕНИЯ И СЕМИНАРИ</h2>
                    <br><br><br>
                    <a href="/courses" id="coursesBtn" class="card__button">Прочетете още</a>
                  </figcaption>
                </figure>
              </div>
            
              <div class="card">
                <figure class="card__thumb">
                  <img src="https://res.cloudinary.com/dzqj0bike/image/upload/v1652188692/btu-guides/pexels-cottonbro-4098232_1_2_jbrrai.jpg" alt="Picture by Daniel Lincoln" class="card__image">
                  <figcaption class="card__caption">
                    <h2 id="consult" class="card__title">КОНСУЛТАНТСКИ ДЕЙНОСТИ</h2>
                    <br><br><br>
                    <a href="/consult" id="consultBtn" class="card__button">Прочетете още</a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </section>
        <section id="contact">
            <div class="wrapper">
              <h2 id="contactUs">Свържете се с нас</h2>
              <form th:action="@{/#contact}" th:method="POST" th:object="${contactBindingModel}">
                <div class="form-group">
                    <div>
                        <label id="nameLabel" for="name">Име <span class="required">*</span></label>
                        <input th:field="*{name}" type="text" name="Name" id="name" placeholder="Име" required minlength="3" maxlength="25" />
                    </div>
                    <div>
                        <label id="middleNameLabel" for="name">Презиме </label>
                        <input th:field="*{secondName}" type="text" name="Name" id="middleName" placeholder="Презиме" minlength="3" maxlength="25" />
                    </div>
                    <div>
                        <label id="familyNameLabel" for="name">Фамилия <span class="required">*</span></label>
                        <input th:field="*{familyName}" type="text" name="Name" id="familyName" placeholder="Фамилия" required minlength="3" maxlength="25" />
                    </div>
                </div>
                <div class="form-group">
                  <label for="email">Email <span class="required">*</span></label>
                  <input th:field="*{email}" type="email" name="Email" id="email" placeholder="email@domain.tld" required />
                </div>
                <div class="form-group">
                  <label id="messageLabel" for="message">Съобщение <span class="required">*</span></label>
                  <textarea th:field="*{text}" name="Message" id="message" rows="5" placeholder="Напишете вашето съобщение...."></textarea>
                </div>
                <div class="form-group">
                  <button id="submitBtn" type="submit" class="submit"><i class="far fa-paper-plane"></i>Изпрати</button>
                </div>
                  <div class="g-recaptcha" data-sitekey="6LcJ3GMfAAAAAGfEaxaWoSXg_5yRsh7lMzDskVwq">
                  </div>
                  <span id="robot-message" th:text="${verification}"></span>
              </form>
            </div>
      </section>
      <footer class="footer">
        <div class="left-footer">
            <p>Phone: +359 89 860 7958; +359 88 851 1539</p>
        </div>
        <div class="center-footer">
            <p>&copy; 2022 INFOTOUR SYSTEMS LTD</p>
        </div>
        <div class="right-footer">
            <p>Email: coop@btu-guides.org</p>
        </div>
    </footer>
    </body>

    <script>
        var language = {
            en: {
                comName:'COOPERATION "BTU-TOUR GUIDES"',
                comName2:'TRAVEL AGENCY "COOPTOUR"',
                contact:"Contact",
                homeButton: "More about us",
                ourPeople: "OUR COOPERATIVE MEMBERS",
                ourPeopleBtn: "Our members-cooperators",
                services: "SERVICES",
                offersCard: "TOURIST SERVICES IN BULGARIA AND ABROAD",
                readMoreBtn: "See more",
                courses: "COURSES, TRAININGS AND SEMINARS",
                consult: "CONSULTING ACTIVITIES",
                contactUs: "Contact us",
                middleNameLabel: "Middle name",
                surNameLabel: "Surname",
                nameLabel: "Name",
                namePlaceHolder: "Name",
                messageLabel: "Message",
                message: "Type your message here....",
                aboutUsNav: "about us",
                cooperativeNav: "cooperation",
                serviceNav: "SERVICES",

            },
            bg: {
                comName:"КООПЕРАЦИЯ БТС-ЕКСКУРЗОВОДИ",
                comName2:"ТУРИСТИЧЕСКА АГЕНЦИЯ „КООПТУР”",
                contact:"Контакт",
                homeButton: "Повече за нас",
                ourPeople: "НАШИТЕ ЧЛЕН-КООПЕРАТОРИ",
                ourPeopleBtn: "Член-кооператори",
                services: "Услуги",
                offersCard: "ТУРИСТИЧЕСКИ УСЛУГИ В БЪЛГАРИЯ И ЧУЖБИНА",
                readMoreBtn: "Прочетете още",
                courses: "КУРСОВЕ, ОБУЧЕНИЯ И СЕМИНАРИ",
                consult: "КОНСУЛТАНТСКИ ДЕЙНОСТИ",
                contactUs: "Свържете се с нас",
                surNameLabel: "Фамилия",
                nameLabel: "Име",
                middleNameLabel: "Презиме",
                namePlaceHolder: "Име",
                messageLabel: "Съобщение",
                message: "Напишете вашето съобщение....",
                aboutUsNav: "ЗА НАС",
                cooperativeNav: "ЧЛЕНОВЕ",
                serviceNav: "Услуги"
            }
        }
        function changeLanguage(change = true) {
            if(change) {
                setCookie();
            }

            if(getCookie('language') === 'true') {
                nameBtu.textContent=language.bg.comName;
                contactNav.textContent=language.bg.contact;
                nameBtu2.textContent=language.bg.comName2;
                homeBtn.textContent=language.bg.homeButton;
                ourPeople.textContent=language.bg.ourPeople;
                ourPeopleBtn.textContent=language.bg.ourPeopleBtn;
                services.textContent=language.bg.services;
                offersCard.textContent=language.bg.offersCard;
                offersCardBtn.textContent=language.bg.readMoreBtn;
                courses.textContent=language.bg.courses;
                coursesBtn.textContent=language.bg.readMoreBtn;
                consult.textContent=language.bg.consult;
                consultBtn.textContent=language.bg.readMoreBtn;
                contactUs.textContent=language.bg.contactUs;
                nameLabel.textContent=language.bg.nameLabel;
                middleNameLabel.textContent = language.bg.middleNameLabel;
                familyNameLabel.textContent = language.bg.surNameLabel;
                aboutUsNav.textContent=language.bg.aboutUsNav;
                cooperativeNav.textContent=language.bg.cooperativeNav;
                serviceNav.textContent=language.bg.serviceNav;
                document.getElementById('name').placeholder=language.bg.namePlaceHolder;
                messageLabel.textContent=language.bg.messageLabel;
                document.getElementById('message').placeholder=language.bg.message;
                document.getElementById('middleName').placeholder = language.bg.middleNameLabel;
                document.getElementById('familyName').placeholder = language.bg.surNameLabel;

            }else {
                nameBtu.textContent=language.en.comName;
                nameBtu2.textContent = language.en.comName2;
                contactNav.textContent=language.en.contact;
                homeBtn.textContent=language.en.homeButton;
                ourPeople.textContent=language.en.ourPeople;
                ourPeopleBtn.textContent=language.en.ourPeopleBtn;
                services.textContent=language.en.services;
                offersCard.textContent=language.en.offersCard;
                offersCardBtn.textContent=language.en.readMoreBtn;
                courses.textContent=language.en.courses;
                coursesBtn.textContent=language.en.readMoreBtn;
                consult.textContent=language.en.consult;
                consultBtn.textContent=language.en.readMoreBtn;
                contactUs.textContent=language.en.contactUs;
                nameLabel.textContent=language.en.nameLabel;
                middleNameLabel.textContent = language.en.middleNameLabel;
                familyNameLabel.textContent = language.en.surNameLabel;
                document.getElementById('middleName').placeholder = language.en.middleNameLabel;
                document.getElementById('familyName').placeholder = language.en.surNameLabel;
                aboutUsNav.textContent=language.en.aboutUsNav;
                cooperativeNav.textContent=language.en.cooperativeNav;
                serviceNav.textContent=language.en.serviceNav;
                document.getElementById('name').placeholder=language.en.namePlaceHolder;
                messageLabel.textContent=language.en.messageLabel;
                document.getElementById('message').placeholder=language.en.message;
                    }
        }
        changeLanguage(false);
    </script>
</html>
