<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
<a href="/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002">Връщане</a>

    <div class="table">
        <div class="wrapper">
          <div class="table">
            <div class="row header">
              <div class="cell">
                Title
              </div>
              <div class="cell">
                Remove
              </div>
            </div>
            <div class="row" th:each="e : ${rows}">
              <div class="cell" data-title="Name">
                <p th:text="${e.name}" name="name">Luke Peters</p>
              </div>
              <div class="cell div-grade"  name="div-grade" data-title="Location">
                    <a th:href="@{/admin/edit/site/97979f2c-aa80-11ec-b909-0242ac120002/remove/{id}(id=${e.id})}">Remove</a>
              </div>
              </div>
          </div>
            </div>
        </div>
      </form>
      </div>
</body>
</html>