<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="/css/translate-offers-style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="/css/nav.css">
    </head>
    <body>
    <nav th:replace="fragments/nav::nav">

    </nav>
        <header>
            <h1>Екскурзоводски услуги</h1>
        </header>
        <div class="container">
          <button type="button" class="change-button" id="change-button" onclick="changeSlider()">Преводачески услуги</button>
                <div id="container">
                    <div id="slider-container">
                      <span onclick="slideRight()" class="btn"></span>
                        <div id="slider">
                          <div class="slide"><div class="card">
                        <figure >
                          <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                        <div class="card-body">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a href="">Има фамилия</a>
                        </div>
                  </div></div>
                   <div class="slide"><div class="card" >
                        <figure >
                          <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                        <div class="card-body">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a href="">Има фамилия</a>
                        </div>
                  </div></div>
                          <div class="slide"><div class="card" >
                        <figure>
                            <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a href="">Има фамилия</a>
                        </div>
                  </div></div>
                          <div class="slide"><div class="card" >
                        <figure >
                            <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a href="">Има фамилия</a>
                        </div>
                  </div></div>
                          <div class="slide"><div class="card">
                        <figure >
                            <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a href="">Има фамилия</a>
                        </div>
                  </div></div>
                          <div class="slide"><div class="card" >
                        <figure >
                            <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a href="">Има фамилия</a>
                        </div>
                  </div></div>
                          <div class="slide"><div class="card">
                        <figure >
                            <img src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          <a href="">Има фамилия</a>
                        </div>
                  </div></div>
                      </div>
                      <span onclick="slideLeft()" class="btn"></span>
                    </div>
                  </div>
                    <!-- Second Slider -->
                  <div class="hidden" id="container2">
                    <div id="slider-container">
                      <span onclick="slideRight()" class="btn"></span>
                      <br>
                        <div id="slider2">
                          <div class="slide2"><div class="card2">
                        <figure >
                          <img class="animatedImg" src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                        <div class="card-body hidden">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                  </div></div>
                  <div class="slide2"><div class="card2">
                    <figure >
                          <img class="animatedImg" src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                        <div class="card-body hidden">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                        </div>
                  </div>
                  <div class="slide2"><div class="card2">
                    <figure>
                            <img class="animatedImg" src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body hidden">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                  </div></div>
                  <div class="slide2"><div class="card2">
                    <figure >
                            <img class="animatedImg" src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body hidden">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                  </div></div>
                  <div class="slide2"><div class="card2">
                    <figure >
                            <img class="animatedImg" src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body hidden">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                  </div></div>
                  <div class="slide2"><div class="card2">
                    <figure >
                            <img class="animatedImg" src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body hidden">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                  </div></div>
                  <div class="slide2"><div class="card2">
                    <figure >
                            <img class="animatedImg" src="https://wallpaperaccess.com/full/2029165.jpg" alt="Hotel" >
                        </figure>
                  
                        <div class="card-body hidden">
                          <h5 class="card-title">Hotel 1</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                  </div></div>
                      </div>
                      <span onclick="slideLeft()" class="btn"></span>
                    </div>
                  
                  </div>
                  <div class="cards">
                    <div class="grid">Предоставяне на екскурзоводски услуги от лицензирани
                      екскурзоводи и водачи в България и чужбина за туристически
                      групи, самоорганизирани групи и индивидуални туристи в
                      страната и чужбина.</div>
                    <div class="grid">Предоставяне на комплексни решения, свързани с
                      туристически пътувания на организирани групи,
                      самоорганизирани групи и индивидуални туристи в страната и
                      чужбина.</div>
                    <div class="grid">Предоставяне на услуги, свързани с придружаване на
                      чуждестранни гости, симултанни и консекутивни преводи</div>
                    <div class="grid">Предоставяне на услуги при организиране и
                      реализиране на местни и международни мероприятия –
                      посещения на чуждестранни делегации, симпозиуми,
                      конгреси, работни и делови срещи и други.</div>
                      
                    </div>
                  <script src="/js/offers-page.js"></script>
        </div>
      
    </body>
</html>
