<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="/css/nav3.css">
        <link rel="stylesheet" href="/css/trip-select-style.css"/>
        <link rel="stylesheet" href="/css/responsive-cards.css"/>
    </head>
    <body>
    <nav th:replace="fragments/nav::nav">

    </nav>
        <header>
            <h1>Туристически услуги</h1>
        </header>


        <div class="container">
            <div class="container-cards">
                <div class="card">
                    <figure class="card__thumb">
                        <img src="https://i.pinimg.com/originals/c4/5e/64/c45e6478c907ec578fb28823603b2a78.jpg" alt="Picture by Kyle Cottrell" class="card__image">
                        <figcaption class="card__caption">
                            <h2 class="card__title">Туристически услуги в България</h2>
                            <p class="card__snippet">Туристически услуги в България</p>
                            <a href="/offers/bulgaria" class="card__button">Вижте повече</a>
                        </figcaption>
                    </figure>
                </div>

                <div class="card">
                    <figure class="card__thumb">
                        <img src="https://c0.wallpaperflare.com/preview/1002/396/997/italy-roma-trevi-fountain-rome.jpg" alt="Picture by Nathan Dumlao" class="card__image">
                        <figcaption class="card__caption">
                            <h2 class="card__title">Туристически услуги в чужбина</h2>
                            <p class="card__snippet">Туристически услуги извън България</p>
                            <a href="/offers/internationally" class="card__button">Вижте повече</a>
                        </figcaption>
                    </figure>
                </div>

            </div>

                  <div class="cards">
                    <div class="grid">Предоставяне на екскурзоводски услуги от лицензирани
                      екскурзоводи и водачи в България и чужбина за туристически
                      групи, самоорганизирани групи и индивидуални туристи в
                      страната и чужбина.</div>
                    <div class="grid">Предоставяне на комплексни решения, свързани с
                      туристически пътувания на организирани групи,
                      самоорганизирани групи и индивидуални туристи в страната и
                      чужбина.</div>
                    <div class="grid">Предоставяне на услуги, свързани с придружаване на
                      чуждестранни гости, симултанни и консекутивни преводи</div>
                    <div class="grid">Предоставяне на услуги при организиране и
                      реализиране на местни и международни мероприятия –
                      посещения на чуждестранни делегации, симпозиуми,
                      конгреси, работни и делови срещи и други.</div>

                    </div>
        </div>
      
    </body>
</html>
