<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About us</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="/css/nav3.css">
        <link rel="stylesheet" href="/css/trip-select-style.css"/>
    </head>
    <body>
    <nav th:replace="fragments/nav::nav">

    </nav>
        <header>
            <h1>Туристически услуги</h1>
        </header>


        <div class="container">
            <div class="container-cards">
                <div class="card">
                    <figure class="card__thumb">
                        <img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">
                        <figcaption class="card__caption">
                            <h2 class="card__title">NASA Has Found Hundreds Of Potential New Planets</h2>
                            <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
                            <a href="" class="card__button">Read more</a>
                        </figcaption>
                    </figure>
                </div>

                <div class="card">
                    <figure class="card__thumb">
                        <img src="https://source.unsplash.com/71u2fOofI-U/300x510" alt="Picture by Nathan Dumlao" class="card__image">
                        <figcaption class="card__caption">
                            <h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
                            <p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
                            <a href="" class="card__button">Read more</a>
                        </figcaption>
                    </figure>
                </div>

            </div>

                  <div class="cards">
                    <div class="grid">Предоставяне на екскурзоводски услуги от лицензирани
                      екскурзоводи и водачи в България и чужбина за туристически
                      групи, самоорганизирани групи и индивидуални туристи в
                      страната и чужбина.</div>
                    <div class="grid">Предоставяне на комплексни решения, свързани с
                      туристически пътувания на организирани групи,
                      самоорганизирани групи и индивидуални туристи в страната и
                      чужбина.</div>
                    <div class="grid">Предоставяне на услуги, свързани с придружаване на
                      чуждестранни гости, симултанни и консекутивни преводи</div>
                    <div class="grid">Предоставяне на услуги при организиране и
                      реализиране на местни и международни мероприятия –
                      посещения на чуждестранни делегации, симпозиуми,
                      конгреси, работни и делови срещи и други.</div>

                    </div>
        </div>
      
    </body>
</html>
