<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar" th:fragment="nav">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><img src="https://res.cloudinary.com/dzqj0bike/image/upload/v1654246563/btu-guides/logo_ats8c4.png" alt=""></label>
    <ul>
      <button class="language-btn" style="background: transparent ;border: none; color: #fff" onclick="changeLanguage()">lang</button>
        <li><a id="aboutUsNav" class="nav-btn" href="/#home">ЗА НАС</a></li>
        <li><a id="cooperativeNav" class="nav-btn" href="/#about">ЧЛЕНОВЕ</a></li>
        <li><a id="serviceNav" class="nav-btn" href="/#service">Услуги</a></li>
        <li><a id="contactNav" class="nav-btn" href="/#contact">Контакти</a></li>
    </ul>
</nav>

</body>
</html>