<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar" th:fragment="nav">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">LOGO</label>
    <ul>
        <li><a class="nav-btn" href="/#home">Home</a></li>
        <li><a class="nav-btn" href="/#about">Екскурзоводи</a></li>
        <li><a class="nav-btn" href="/#service">Услуги</a></li>
        <li><a class="nav-btn" href="/#contact">Контакти</a></li>
    </ul>
</nav>

</body>
</html>